*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.menu a:hover{
    transition: 250ms;
    color: white;
    background-color: orangered;
}

footer.final{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 10px 2%;
}

section.container{
    height: calc(100% - 200px);
    position: relative;
}

.titulo-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.imagens{
    transition: left 400ms linear;
}

.mySlides {
    display:none;
    max-width: 100%;
    width: 400px;
    height: 350px;
    padding: 2%;
    object-fit: cover;
    overflow: hidden;
}

.texto-sobre{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 17px;
    max-width: 800px;
}

a{
    text-decoration: none;
    margin: 20px 0;
    color: black;
    font-size: 17px;
    max-width: 800px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
    float: right;
}

.extras{
    position: absolute;
    bottom: -350px;
    right: -400px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: orangered;
}

.img-extras{
    margin-top: 150px;
}